<!-- BEGIN_INCLUDE(nettypublisher:publish) -->
    <nettypublisher:publish publisher="publisher" data="#[map-payload:content]" />
<!-- END_INCLUDE(nettypublisher:publish) -->

<!-- BEGIN_INCLUDE(nettypublisher:server) -->
    <nettypublisher:server port="9090" />
<!-- END_INCLUDE(nettypublisher:server) -->

<!-- BEGIN_INCLUDE(nettypublisher:write) -->
    <nettypublisher:write host="localhost" port="9090" />
<!-- END_INCLUDE(nettypublisher:write) -->